.store-front{
    display: flex;
}

.tshirts{
    display: flex;
    flex-direction: column;
    margin: 30px;

    width: 20%;
}
.card{
    flex-wrap: wrap;
    justify-content: space-between;

    display: flex;
}

